*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
$accent: rgb(59, 100, 77);

$Graphic-Design-1-hex: #010440;
$Graphic-Design-2-hex: #010326;
$Graphic-Design-3-hex: #0420BF;
$Graphic-Design-4-hex: #0433BF;
// $Graphic-Design-5-hex: #F2DCC9;
$Graphic-Design-5-hex: #2f3238;


@media(max-width: 768px) {
  header {
    .wrapper {
      .menuIcon {
        display: block !important;
      }
      .menu {
        display: none;
        text-align: right !important;
        grid-column: 1/3;
      }
    }
  }
  main {
    .wrapper {
      width: 90vw !important;
      .checkboxes {
        input {
          height: 100%  !important;
          width: 100% !important;
          margin: 0;
        }
      }
      .buttons {
        button {
          grid-column: 1/3;
          // height: 30px;
        }
      }
    }
  }
}


@media(max-width: 992px) {
  main {
    .wrapper {
      width: 75vw !important;
      .checkboxes {
        input {
          height: 100%  !important;
          width: 100% !important;
          margin: 0;
        }
      }
      .buttons {
        button {
          grid-column: 1/3;
          // height: 30px;
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  main {
    .wrapper {
      width: 75vw !important;
      .checkboxes {
        input {
          height: 100%  !important;
          width: 100% !important;
          margin: 0;
        }
      }
      .buttons {
        button {
          grid-column: 1/3;
          // height: 30px;
        }
      }
    }
  }
}

body {
  margin: 0;
}

header {
  display: grid;
  height: 10vh;
  max-height: 10vh;
  width: 100vw;
  justify-content: center;
  grid-template-columns: 80%;
  background-color: $Graphic-Design-1-hex;
  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80%;
    height: 10vh;
    align-content: center;
    img {
      height: 100%;
      justify-self: left;
      align-self: center;
    }
    .menuIcon {
      display: none;
      justify-self: right;
      height: 65%;
    }
    .menu {
      text-align: center;
      justify-self: right;
      align-self: center;
      a {
        // text-decoration: none;
        // color: white;
        // transition: all 0.5s;
      }
      a:hover {
        // color: $Graphic-Design-5-hex;
      }
    }
  }
}

main {
  padding: 15px;
  min-height: calc(80vh - 30px);
  color: black;
  text-align: center;
  background-color: $Graphic-Design-5-hex;
  justify-items: center;
  justify-content: center;
  display: grid;
  .wrapperLive {
    display: grid;
    grid-template-rows: auto 50px;
    gap: 10px;
    justify-self: center;
    width: 100vw;
    .urlForLive {
      justify-self: left;
      height: 30px;
    }
    .video {
      background-color: black;
    }
    input {
      width: 150px;
      margin-left: 50px; 
    }
  }
  .wrapper {
    justify-self: center;
    width: 35vw;
  }
  h1 {
    margin: 0;
  }
  .checkboxes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 10px auto;
    /* Customize the label (the container) */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    } 
    div {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  .inputs {
    margin: 20px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
    span {
      text-align: left;
      color: #da6484;
      font-weight: 800;
      opacity: 100%;
      transition: all.5s ease;
    }
    input {
      padding: 10px;
      height: 30px;
      background: transparent;
      border: 2px solid white;
      color: #b5b5b5;
    }
  }
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
    a {
      // display: grid;
      text-decoration: none;
      width: 100%;
      justify-content: center;
      .box {
        display: grid;
        justify-content: center;
      }      
    }
  }
}

footer {
  height: 10vh;
  display: grid;
  background-color: $Graphic-Design-1-hex;
  .wrapper {
    justify-self: center;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: $Graphic-Design-5-hex;
    }
    #url {
      text-align: left;
    }
    #gitHub {
      text-align: right;
    }
  }
}